:root{
    /* Size */
    font-size: 12px;

    /* Colors */
    --header-color: #F5F5DC;
}

/* NORMALIZER */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* HEADER */ 
.header-ttl{
    margin: 1.5rem auto;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    color: var(--header-color);
    background: linear-gradient(10deg, red, blue);
    width: 50%;
}

/* Main */ 
.main-content{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: .5rem;
    margin: 1rem;
} 

.select-fighter-ttl, .battle-fight-ttl, .caracteristic-fighter-ttl{
    text-align: center;
    text-decoration: underline;
    padding: 1rem;
}


/* Left-page */
.left-page{
    border: 2px solid yellow;
}

.list-champs, .list-fighters{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 9.2rem);
    grid-row-gap: 1rem;
    text-align: center;
    width: 99%;
    height: 60rem;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}


.image-xs{
    width: 50%;
}

.link-img{
    display: block;
}


/* Middle-page */ 
.middle-page{
    border: 2px solid green;
}

.image-xs-middle{
    width: 30%;
}

/* Right-page */
.right-page{
    border: 2px solid pink;
}

.list-fighters-caracteristics{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(10, 7.7rem);
    /* grid-row-start: 1;*/
    grid-row-gap: 1rem;
    width: 99%;
    height: 60rem;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
    /* background-color: brown; */
}
.displayN{
    display: none;
}
.displayB{
    display: block;
}

.skills-fighters{
    padding: .5rem 0;
    margin: auto;
    width: 75%;
    text-align: center;
    background-color: rgb(192, 191, 191);
    line-height: 1.2;
}

.characterisctis-name{
    text-transform: uppercase;
    color: rgb(3, 3, 160);
    font-size: 1rem;
    font-weight: bold;
    border-bottom: .1rem solid white;
    margin-bottom: .5rem;
    /* text-decoration: underline; */
}

.skills-ttl{
    color: rgb(0, 95, 0);
}

.span-ttl{
    color: rgb(197, 6, 6);
}